MONGO_URL=<your url>

# JWT
JWT_SECRET=<your key>
JWT_EXPIRES_IN=15m
REFRESH_TOKEN_TTL_DAYS=7

# Email verification
EMAIL_VERIFY_TTL_MINUTES=15

APP_URL=<your url>
APP_CLIENT_URL=<your url>

# Redis (BullMQ)
REDIS_HOST=<host>
REDIS_PORT=<port>

# SMTP (Nodemailer)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<your user name>
SMTP_PASS=<your pass>
MAIL_FROM_NAME=Folio
MAIL_FROM_ADDRESS=no-reply@folio.app

INVITATION_TTL_DAYS=1

#example : E:\DSV_INTERN_PROJECT\storage
LOCAL_STORAGE_ROOT=<your root>
